<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users-update</title>
</head>
<body>

<form th:action="@{/update}" th:object="${userForm}" th:method="post">
    <input type="hidden" th:field="*{id}" name="id"/>
    Name: <input type="text" th:field="*{name}" name="name"/>
    <br><br>
    Last Name: <input type="text" th:field="*{lastName}" name="lastName"/>
    <br><br>
    Age: <input type="text" th:field="*{age}" name="age"/>
    <br><br>
    <input class="button button-block" type="submit" value="OK">

</form>
</body>
</html>