<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <!--        <th>Id</th>-->
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td>
            <form th:action="@{/delete/{id}(id=${user.id})}" th:method="get">
                <input class="button button-block" type="submit" value="Delete user"/>
            </form>
        </td>
        <td>
            <form th:action="@{/updateUser/{id}(id=${user.getId()})}" th:method="get">
                <input class="button button-block" type="submit" value="Update user"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br><br>

<form th:action="@{/add}" th:method="get">
    <input class="button button-block" type="submit" value="Add user"/>
</form>
<br>
<br>

<br>
<br>

</body>
</html>